#main{
    margin-top: 56px;
}
.sidebar{
    padding-left: 10px;
    padding-right: 0;
    background-color: rgba(248,248,248, 1);
}
.sidebar .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.edit-main{
    padding-top: 15px;
}
.card-body .form-group{
    width: 70%;
}
.card-body input::placeholder {
    color: lightgray;
}
.card-body label{
    font-weight: bold;
}
.form-message{
    color: red;
}
.button-group input {
    background-color: white;
    border: 1px solid black;
}