body{
    background-color: #e5e3e3;
}
#error{
    color: red;
    text-align: center;
    margin-top: 55px;
}
.card {
    width: 400px;
    background-color: white;
}
.card-header{
    font-size: 18px;
}
.card-body{
    padding: 5px 15px 5px 15px;
}
.form-group{
    margin: 10px 0 10px 0;
}
.form-group input::placeholder {
    color: lightgray;
}
span.form-message{
    color: red;
}
.register a{
    text-decoration: none;
    font-size: 15px;
}
button{
    width: 100%;
    margin-bottom: 15px;
}